/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

body {
  text-transform:uppercase;
}

#loggedin{
  display:none;
}

/*#loggedout{
  display:none;
}*/

#loggedin #connect-form{
  float:right;
  height:40px;
  margin:-115px 0 0 0;
}

#loggedout #connect-form{
  margin:-30px auto 0 auto;
  width:200px;
} 

#sc-logo {
  display:block;
  margin:0 auto;
}

#logo {
  font-size: 48px;
  line-height: 1em;
  padding: 2px 2px 0px 2px;
  width: 195px;
  margin: 0 auto;
}

#poweredby {
  font-size:18px;
  line-height:1em;
  text-transform:uppercase;
  margin:-5px 0 0 0;
}

#tagline {
  margin:12px 0 0 0;
}

#mix{
  clear:both;
}

#header{
  margin:0 0 48px 0;
  text-align:center;
}

#loggedout #header span{
  text-transform: uppercase;
  background: #F9EC31;
  display: inline-block;
  margin: 0;
  font-size: 20px;
  line-height: 14px;
  padding: 3px 0 0 0;
}

#loggedout #header span.divider{
  background:#fff;
  opacity:.8;
}


#loggedin #header{
  text-align:left;
}

#loggedin #header span{
  font-size:36px;
  line-height:30px;
  background: #F9EC31;
  padding:4px 2px 0px 4px;
}

#loggedin #header p {
  margin:5px 0 0 0;
  color:#ccc;
}

#header a {
  color:#ccc;
}



ol, ul, li{
  margin:0px;
}

.sc-waveform-container img {
  width:100%;
  height:20px;
}

.sc-waveform-container {
  margin:0 0 -56px 0;
}

.sc-player {
  overflow:hidden;
  height:145px;
  margin:0 0 24px 0;
  border-bottom:4px double #ccc;
  border-top:4px double #ccc;
  background:#F9FAE9;
}

.sc-artwork-list {
  float:left;
  width:145px;
  height:145px;
}

.sc-artwork-list li {
  list-style-type:none;
}

.sc-artwork-list li img {
  width:145px;
  height:145px;
}

.sc-no-artwork {
  text-indent:-9999px;
  width:145px;
  height:145px;
  background:#d7d7d7;
}
.sc-info-close, .sc-info-toggle, .sc-trackslist{
  display:none;
}



.sc-info {
  padding:0px;
  width:815px;
  margin:0 0 -46px 145px;
  position:absolute;
  z-index:1;
  
}

.sc-info h3 a{
  padding:4px 4px 2px 4px;
  background:#000;
  color:#fff;
  opacity:.7;
  text-decoration:none;
}

.sc-info h3 {
  font-size: 20px;
  line-height: 26px;
  height: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 1px 0;
}

.sc-info h4 {
  padding:0 3px;
  font-size:12px;
  line-height:14px;
  height:16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.sc-info p{
  display:none;
}


.sc-scrubber {
  margin:0 0 -25px 145px;
}

.sc-scrubber .sc-time-span img {
  height: 145px;
  width: 100%;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played {
  background-color: #fff;
}

.sc-scrubber .sc-played {
  background-color: #F9EC31;
  width:0px;
  height:145px;
  margin: -145px 0 0 0;
}

.sc-controls{
  width: 145px;
  height: 145px;
  position:absolute;
  z-index:1;
}

.sc-time-indicators {
  font-size: 10px;
  line-height: 10px;
  margin: -22px 0 0 -145px;
  background: white;
  position: absolute;
  padding: 4px 5px 0px 5px;
}


.sc-player .sc-controls a {
  color: transparent;
  background: url('../images/controls.png');
  background-position: 0 -450px;
  width:145px;
  height:145px;
  display:block;
  overflow:hidden;
  text-indent:-9999px;
}



.sc-player .sc-controls a:hover {
  background-position: 0 -300px;
}

.sc-player .sc-controls a.sc-pause {
  background-position: 0 -150px;
  display:none;
}

.sc-player .sc-controls a.sc-pause:hover{
  background-position: 0 0;
}

.sc-player.playing .sc-controls a.sc-play{
  background-position: 0 -150px;
}

.sc-player.playing .sc-controls a.sc-play:hover{
  background-position: 0 0;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	   .sc-info {
 	    width:815px;
 	  }
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	   .sc-info {
 	    width:623px;
 	  }
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	   .sc-info {
 	    width:275px;
 	  }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	   .sc-info {
  	    width:155px;
  	  }
  	  #connect-form{
  	    float:none;
  	    margin:-36px 0 24px 0;
  	  }
  	  #header{
  	    margin-top:-12px;
  	  }
	}