ol, ul, li{
  margin:0px;
}

.sc-waveform-container img {
  width:100%;
  height:20px;
}

.sc-waveform-container {
  margin:0 0 -56px 0;
}

.sc-player {
  overflow:hidden;
  height:145px;
  margin:0 0 24px 0;
  border-bottom:4px double #ccc;
}

.sc-artwork-list {
  margin:0 10px 0 0;
  float:left;
  width:145px;
  height:145px;
}

.sc-artwork-list li {
  list-style-type:none;
}

.sc-artwork-list li img {
  width:145px;
  height:145px;
}

.sc-no-artwork {
  text-indent:-9999px;
  width:145px;
  height:145px;
  background:#d7d7d7;
}
.sc-info-close, .sc-info-toggle, .sc-trackslist{
  display:none;
}

.sc-info {
  padding:0px;
  float:left;
  width:800px;
  margin:0 0 5px 0;
}

.sc-info h3 {
  font-size:22px;
  line-height:22px;
  height:26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin:0px;
}

.sc-info h4 {
  font-size:14px;
  line-height:14px;
  height:16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sc-info p{
  display:none;
}


.sc-scrubber {
  float:left;
}

.sc-scrubber .sc-time-span {
  background-color: #fff;
}

.sc-scrubber .sc-time-span img {
  height: 50px;
  width: 750px;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played {
  background-color: #fff;
}

.sc-scrubber .sc-played {
  background-color: gold;
  width:0px;
  height:50px;
}

.sc-controls{
  width: 50px;
  height: 50px;
  background: #EEE;
  float: left;
  //text-indent:-9999px;
}

.sc-time-indicators {
  font-size:10px;
  margin:0 0 0 -50px;
}
/*
.sc-player .sc-controls a {
  color: transparent;
  background: url('img/play.png');
}

.sc-player .sc-controls a:hover {
  background: url('img/play-hover.png');
}

.sc-player .sc-controls a.sc-pause {
  background: url('img/play.png');
}

.sc-player .sc-controls a.sc-pause:hover{
  background: url('img/play-hover.png');
}

.sc-player.playing .sc-controls a.sc-pause{
  background: url('img/pause.png');
}

.sc-player.playing .sc-controls a.sc-pause:hover{
  background: url('img/pause-hover.png');
}*/